<div class="header"><h3><b>E-Learning</b></h3></div><br><br>

<div>
  <div class="wrapper bg-white">
  
      <div class="h4 text-muted text-center pt-2"><h4 class="h1">Login</h4></div><br>
  <form class="pt-3">
      <div class="form-group py-2">
          <div class="input-field"> <span class="far fa-user p-2"></span> <input type="text" placeholder="Enter email" required class=""> </div><br>
      </div>
            <div class="form-group py-1 pb-2">
          <div class="input-field"> <span class="fas fa-lock p-2"></span> <input type="text" placeholder="Enter Password" required class=""> <button class="btn bg-white text-muted"> <span class="far fa-eye-slash"></span> </button> </div><br>
      </div>
      
     
      <button class="container"> Login</button>
      <div class="text-center pt-3 text-muted" style="text-align:center">New User?<a href="#" style="color:orangered">Signup</a></div>
  </form>
  </div>

