/* You can add global styles to this file, and also import other style files */
.header{
    top:0;
    width:100%;
    height:50px;
    background-color:orangered;
    text-align: left;
    color:white;
    }
    .h1{
    text-align:center;
    color:orangered;
    }
    